# Debug scripts - local development only
financed_sales/debug/

# Python cache files
*.pyc
*.egg-info
__pycache__

# IDE/Editor files
*.swp
tags

# Dependencies
node_modules

# OS files
.DS_Store

# Development files
TODO.md
